body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: gray 1px solid;
    height: 70px;

}

nav {
    align-self: center;    
}

.logo {
    width: 200px;
    height: 23px;
    margin: 15px 30px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 30px 18px;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    line-height: 18px;
}


button {
    height: 42px;
    width: 121px;
    border: none;
    background-color: #00d693;
    border-radius: 3px;
}
button a {
    color: white;
}

section {
    background-image: url("images/home.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items:flex-end ;
    flex-direction: column;
    height: 600px;
}

section h1 {
    font-size: 45px;
    width: 450px;
    color: black;
    font-size: 38px;

}

section span {
    color: #666cdc;
}

section p {
    width: 450px;
    height: 84px;
    font-size: 20px;
}

.btn {
    background-color: #666cdc;
    color: white;
}

